<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="urlrewritingnet" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"/>
  </configSections>
  <connectionStrings>

    <!--<add name="conString" connectionString="Data Source=DESKTOP-4DSKQ8C;Initial Catalog=tuankhoi_db;User Id=sa;Password=123456;"/>-->

    <add name="conString" connectionString="Data Source=ADMIN\SQLEXPRESS;Initial Catalog=asp.net;Integrated Security=True"/>

    <!--<add name="conString" connectionString="Data Source=.\MSSQLSERVER2012;Initial Catalog=tuankhoi_db;User Id=tuankhoi_shop;Password=P@ssw0rd; Pooling=False;"/>-->
    
  </connectionStrings>
  <urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage="default.aspx" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
    <rewrites>
      <!-- Thong tin rewrite cac domain -->
      <!-- Chi tiet tin dang -->
      <add name="phan-trang-category-news" virtualUrl="^~/category-p_(.*)/(.*)/(.*)/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx?page=browse_news&amp;mod=news&amp;p=$1&amp;tabid=$2&amp;catid=$3" ignoreCase="true"/>
      <add name="category-news" virtualUrl="^~/category/(.*)/(.*)/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx?page=browse_news&amp;mod=news&amp;tabid=$1&amp;catid=$2" ignoreCase="true"/>
      <add name="detail-news" virtualUrl="^~/detail-news/(.*)/(.*)/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx?page=detail_news&amp;mod=news&amp;tabid=$1&amp;id=$2" ignoreCase="true"/>
      <add name="cong-trinh" virtualUrl="^~/cong-trinh/(.*)/(.*)/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx?page=congtrinh&amp;mod=congtrinh&amp;tabid=$1&amp;catid=$2" ignoreCase="true"/>
      <add name="phan-trang-cong-trinh" virtualUrl="^~/cong-trinh-p_(.*)/(.*)/(.*)/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx?page=congtrinh&amp;mod=congtrinh&amp;p=$1&amp;tabid=$2&amp;catid=$3" ignoreCase="true"/>
      <add name="granite" virtualUrl="^~/Granite/(.*)/(.*)/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx?page=granite&amp;mod=granite&amp;tabid=$1&amp;catid=$2" ignoreCase="true"/>
      <add name="phan-trang-granite" virtualUrl="^~/granite-p_(.*)/(.*)/(.*)/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx?page=granite&amp;mod=granite&amp;p=$1&amp;tabid=$2&amp;catid=$3" ignoreCase="true"/>
      <add name="detail-granite" virtualUrl="^~/detail-granite/(.*)/(.*)/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx?page=detail_granite&amp;mod=granite&amp;tabid=$1&amp;id=$2" ignoreCase="true"/>
      <add name="phan-trang-detail-granite" virtualUrl="^~/detail-granite-p_(.*)/(.*)/(.*)/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx?page=detail_granite&amp;mod=granite&amp;p=$1&amp;tabid=$2&amp;id=$3" ignoreCase="true"/>
      <add name="product" virtualUrl="^~/product/(.*)/(.*)/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx?page=product&amp;mod=product&amp;tabid=$1&amp;catid=$2" ignoreCase="true"/>
      <add name="phan-trang-product" virtualUrl="^~/product-p_(.*)/(.*)/(.*)/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx?page=product&amp;mod=product&amp;p=$1&amp;tabid=$2&amp;catid=$3" ignoreCase="true"/>
      <add name="detail-product" virtualUrl="^~/detail-product/(.*)/(.*)/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx?page=detail_product&amp;mod=product&amp;tabid=$1&amp;id=$2" ignoreCase="true"/>
      <add name="buy-product" virtualUrl="^~/buy-product/(.*)/(.*)/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx?page=buy_product&amp;mod=product&amp;tabid=$1&amp;id=$2" ignoreCase="true"/>

      <add name="order-product" virtualUrl="^~/order-product/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx?page=order&amp;mod=product&amp;" ignoreCase="true"/>
      <add name="parent-product" virtualUrl="^~/parent-product/(.*)/(.*)/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx?page=parent_product&amp;mod=product&amp;tabid=$1&amp;catid=$2" ignoreCase="true"/>
      
      <add name="phan-trang-detail-product" virtualUrl="^~/detail-product-p_(.*)/(.*)/(.*)/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx?page=detail_product&amp;mod=product&amp;p=$1&amp;tabid=$2&amp;id=$3" ignoreCase="true"/>
      <add name="contact" virtualUrl="^~/(.*)/contact.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/contact.aspx?tabid=$1" ignoreCase="true"/>
      <add name="sitemap" virtualUrl="^~/(.*)/sitemap.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/sitemap.aspx?tabid=$1" ignoreCase="true"/>
      <add name="intro" virtualUrl="^~/(.*)/intro.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/intro.aspx?tabid=$1" ignoreCase="true"/>
      <add name="rss" virtualUrl="^~/(.*)/rss.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/rss.aspx?tabid=$1" ignoreCase="true"/>
      <add name="hot-news" virtualUrl="^~/news/hot-news.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx?page=browse_hotnews&amp;mod=news" ignoreCase="true"/>
      <add name="phan-trang-hot-news" virtualUrl="^~/hot-news-p_(.*)/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx?page=browse_hotnews&amp;mod=news&amp;p=$1" ignoreCase="true"/>
      <!-- end -->
    </rewrites>
  </urlrewritingnet>
  <appSettings/>
  <system.web>
    <customErrors mode="Off" defaultRedirect="~/Default.aspx"/>
    <httpHandlers>
      <add verb="GET" path="ImageVerifier.axd" type="NatsNet.Web.UI.Controls.ImageVerifier, NatsNet.Web.UI.Controls"/>
    </httpHandlers>
    <httpModules>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
    </httpModules>
    <compilation debug="true" defaultLanguage="c#"/>
    <globalization fileEncoding="utf-8"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="Session"/>
      <add name="Session" type="System.Web.SessionState.SessionStateModule"/>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
    </modules>
  </system.webServer>
</configuration>